<div class="form-container">
    <h4>Login Page</h4>
    <ul>
        <li>
            Enter Username:
            <input type="text" id="username">
        </li>
        <li>
            Enter Password:
            <input type="password" id="password">
        </li>
        <li>
            <input type="checkbox" id="rememberCredentials">Remember My Credentials
        </li>
        <li>
            <button onclick="validateCredentials()">Login</button>
        </li>
        <li>
            <a href="#" onclick="selectedPageLoader('signup')">Sign up </a><br>
            <a href="#" onclick="selectedPageLoader('forgotPassword')">Forgot password</a>
        </li>
        <li class="wrongCredentialsMsg">Invalid Credentials</li>
    </ul>

</div>