<div class="container">
    <h4>Register Here</h4>
    <ul>
        <li>
            Enter username:
            <input type="text" id="username_signup">
        </li>
        <li>
            Enter mail:
            <input type="text" id="mail_signup">
        </li>
        <li>
            Enter contact:
            <input type="text" id="contact_signup">
        </li>

        <li>
            Enter Password:
            <input type="password" id="password_signup">
        </li>
        <li>
            <button onclick="newUserSignup()">Register</button>
        </li>
        <li>
            <a href="#" onclick="selectedPageLoader('login')">Login </a>
        </li>
    </ul>
    </form>
</div>