<div class="container">
    <h4>Register Here</h4>
    <ul>
        <li>
            Enter name:
            <input type="text">
        </li>
        <li>
            Enter mail:
            <input type="text">
        </li>
        <li>
            Enter contact:
            <input type="text">
        </li>

        <li>
            Enter Password:
            <input type="password">
        </li>
        <li>
            <button>Register</button>
        </li>
        <li>
            <a href="#" onclick="selectedPageLoader('login')">Login </a>
        </li>
    </ul>
    </form>
</div>